# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
# Load the cities csv into DF
vacationDF = pd.read_csv('Instructions/output_data/cities.csv')
vacationDF = vacationDF.drop(columns=['Unnamed: 0'])
vacationDF.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,albany,42.6001,-73.9662,73.54,62,60,1.01,US,1634835992
1,coolum beach,-26.5333,153.1000,70.11,96,40,4.63,AU,1634836125
2,busselton,-33.6500,115.3333,51.08,86,44,6.06,AU,1634836016
3,sistranda,63.7256,8.8340,46.90,84,100,43.44,NO,1634836126
4,hudson bay,52.8500,-102.3842,35.22,51,4,5.30,CA,1634836126

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Use the Lat and Lng as locations
locations = vacationDF[['Lat', 'Lng']].astype(float)

# Store humidity as weight
weight = vacationDF['Humidity'].astype(float)

# Create a Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=weight, dissipating=False, max_intensity=100, point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [26]:
# Drop null values
vacationDF = vacationDF.dropna()

perfectVaca = vacationDF.loc[(vacationDF['Max Temp'] < 90) & (vacationDF['Max Temp'] > 75)]
perfectVaca = perfectVaca.loc[perfectVaca['Cloudiness'] == 0]
perfectVaca = perfectVaca.loc[perfectVaca['Wind Speed'] < 10]
perfectVaca

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
49,dalbandin,28.8947,64.4101,78.42,19,0,2.48,PK,1634836213
64,baghdad,33.3406,44.4009,76.91,27,0,9.22,IQ,1634836116
178,nouadhibou,20.9310,-17.0347,76.75,55,0,9.73,MR,1634836090
208,nizwa,22.9333,57.5333,85.41,36,0,4.47,OM,1634836249
307,tucuman,-26.8241,-65.2226,86.00,28,0,5.75,AR,1634836109
462,nahariyya,33.0059,35.0941,75.11,72,0,1.01,IL,1634836312
544,jalu,29.0331,21.5482,76.50,36,0,9.22,LY,1634836336
564,puerto penasco,31.3167,-113.5333,75.90,38,0,5.17,MX,1634836342

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [27]:
# Store into variable named hotel_df
hotel_df = perfectVaca.copy()
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
49,dalbandin,28.8947,64.4101,78.42,19,0,2.48,PK,1634836213
64,baghdad,33.3406,44.4009,76.91,27,0,9.22,IQ,1634836116
178,nouadhibou,20.9310,-17.0347,76.75,55,0,9.73,MR,1634836090
208,nizwa,22.9333,57.5333,85.41,36,0,4.47,OM,1634836249
307,tucuman,-26.8241,-65.2226,86.00,28,0,5.75,AR,1634836109
462,nahariyya,33.0059,35.0941,75.11,72,0,1.01,IL,1634836312
544,jalu,29.0331,21.5482,76.50,36,0,9.22,LY,1634836336
564,puerto penasco,31.3167,-113.5333,75.90,38,0,5.17,MX,1634836342

In [28]:
# Add a "Hotel Name" column to DF
hotel_df["Hotel Name"] = ""

In [29]:
# URL
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "keyword": "hotel",
    "key": g_key,
}

# Hit the Google Places API for each city's coordinates.
for index, row in hotel_df.iterrows():
    # get lat, lng from DF
    lat = row["Lat"]
    lng = row["Lng"]
    
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    # make request and convert to json
    response = requests.get(base_url, params=params).json()
    #pprint(response)

    # extract results
    results = response['results']
    
    # Store the first Hotel result into the DataFrame.
    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]["name"]
        
    except:
        print("Missing field/result... skipping.")
# Plot markers on top of the heatmap.

In [30]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
49,dalbandin,28.8947,64.4101,78.42,19,0,2.48,PK,1634836213,Al-Dawood Hotel & Restaurant
64,baghdad,33.3406,44.4009,76.91,27,0,9.22,IQ,1634836116,Shanashel Palace Hotel
178,nouadhibou,20.9310,-17.0347,76.75,55,0,9.73,MR,1634836090,HOTEL VALENCIA
208,nizwa,22.9333,57.5333,85.41,36,0,4.47,OM,1634836249,Nizwa Hotel Apartments
307,tucuman,-26.8241,-65.2226,86.00,28,0,5.75,AR,1634836109,Hotel Embajador
462,nahariyya,33.0059,35.0941,75.11,72,0,1.01,IL,1634836312,Sea Life Spa Hotel
544,jalu,29.0331,21.5482,76.50,36,0,9.22,LY,1634836336,Thuraya Tourist Hotel
564,puerto penasco,31.3167,-113.5333,75.90,38,0,5.17,MX,1634836342,Playa Bonita Resort

In [31]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [32]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.marker_layer(locations, hotel_info)

# Display figure
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))